/resources/.sass-cache
/resources/public/cljs
/resources/public/style.css
/target
/classes
/checkouts
/node_modules
/.cpcache
/.shadow-cljs
profiles.clj
pom.xml
pom.xml.asc
trace.edn
*.jar
*.class
/.lein-*
/.nrepl-port
.hgignore
.hg/
